# Paste the bot token here
BOT_TOKEN=123456:Your-TokEn_ExaMple
# Insert the id of administrators here, separated by commas.
# You can find out your id by writing a message to the bot https://t.me/getmyid_bot
ADMINS=First-AdminID_ExaMple,Second-AdminID_ExaMple
# Rename the file to .env
